@*
    Harrison1 COSC 470 2019

    File = Appointments.razor

    Author = TaylorAdam

    Date = 2019-11-19

    License = MIT

    Modification History

    Version		Author			Date				Desc
    v 1.0		 Greyson King 	  2019-11-19			 Added Headers
    v 1.1       Taylor Adam     2019-11-30          Using real Id of user
    v 1.2       Taylor Adam     2019-11-30          renamed

    -->
*@

@page "/"

@using System.Security.Claims
@using HarrisPharmacy.App.Shared.Components
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<AuthorizeView>
    <Authorized>
        <div>

            <PatientListComponent UserId=@context.User.FindFirstValue(ClaimTypes.NameIdentifier) />
        </div>
    </Authorized>
</AuthorizeView>
@code {

}