@*
    Harrison1 COSC 470 2019

    File = FormsComponent.razor

    Author = Jackson Bates

    Date = 2019-11-19

    License = MIT

    Modification History

    Version        Author            Date                    Desc
    v 1.0        Jackson Bates        2019-11-19            Added Headers
    -->
*@
@page "/patientinfo/{patientListID}"
@using System.Net
@using HarrisPharmacy.App.Data
@using HarrisPharmacy.App.Data.Entities.Patients
@using HarrisPharmacy.App.Data.Interfaces
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.Data.SqlClient
@inject ApplicationDbContext Context
@inject NavigationManager nm
@inject IAppointmentService s
@inject IPatientInfoService _patientInfoService

<h1>Patient Information</h1>

<p><b>Patient Name: </b> @FirstName @LastName</p>
<p><b>Health Care Number: </b></p>
<p><b>Sex: </b> @Sex</p>
<p><b>Age: </b> @Age</p>
<p><b>City:</b></p>
<p><b>Province:</b></p>
<p><b>Address:</b></p>

<p><b>Patient Notes:</b></p>
<textarea name="textarea" rows="10">Write something here</textarea>
<div align="right">
    <button type="button" @onclick="@FinishAppointment">Finish</button>
</div>

@code {
    [Parameter]
    public string patientListID { get; set; }
    private string FirstName;
    private string LastName;
    private string healthNumber;
    private string Age;
    private string Sex;
    PatientList appt;

    protected override async Task OnInitializedAsync()
    {
        appt = await s.GetAppointmentAsync(patientListID);
        var patient = await _patientInfoService.GetPatientInformationAsync(appt.PatientId);
        FirstName = patient.FirstName;
        LastName = patient.LastName;
        Age = patient.Age;
        Sex = patient.Sex;
    }

    public async void FinishAppointment()
    {
        await s.DeleteAsync(patientListID);
        nm.NavigateTo("/");
    }
}