@page "/StartRegistration"
@using System.Net
@using HarrisPharmacy.App.Models
@using Microsoft.JSInterop
@using Rsk.AspNetCore.Fido.Dtos
@using Microsoft.AspNetCore.Mvc;
@using Rsk.AspNetCore.Fido.Models
@inject IJSRuntime JsRuntime
@inject HttpClient httpClient

<h2>Register</h2>

<div class="form-group">
    <label asp-for="UserId"></label>
    <input @bind="@RegistrationModel.UserId" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="DeviceName"></label>
    <input @bind="@RegistrationModel.DeviceName" class="form-control" />
</div>
<button @onclick="Register" class="btn btn-primary">Submit</button>

@code {

    protected override async Task OnInitializedAsync()
    {
        RegistrationModel = new RegistrationModel();

    }

    RegistrationModel RegistrationModel { get; set; }

    public Task Register()
    {

        var response = httpClient.PostAsJsonAsync("api/fido/register", RegistrationModel);
        bool returnValue = response.Content.ReadAsAsync<bool>();

    }

}