@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <LoginDisplay />
                <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div id="outer">
            <div id="middle">
                <div id="inner">
                    <img src="img/harris-logo.png" class="large">
                    <div id="buttons">
                        <a href="Identity/Account/Login" class="button">Login</a>
                        <a href="Identity/Account/Register" class="button">Register</a>
                    </div>
                </div>
            </div>
            
        </div>
    </NotAuthorized>
</AuthorizeView>