@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
<AuthorizeView>
    <Authorized>

        <!-- Uncomment this annd comment everything from <SlidingNav /> tok </nav> for old side bar -->
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <LoginDisplay />
                <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
            </div>

            @*<SlidingNav />
                <div id="main" class="main">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <span onclick="openNav()"><i class="fas fa-bars navbar-brand"></i></span>

                        <a class="navbar-brand" href="#">
                            <img src="/img/harris-small.png" width="30" height="30" alt="">
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
                        <a class="my-2 my-lg-0" href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
                    </nav>*@

            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div id="outer">
            <div id="middle">
                <div id="inner">
                    <img src="img/harris-logo.png" class="large">
                    <div id="buttons">
                        <a href="Identity/Account/Login" class="button">Login</a>
                        <a href="Identity/Account/Register" class="button">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>