@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <LoginDisplay />
                <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="row align-items-center justify-content-center">
            <div id="container" class="container">
                <div class="row text-white">
                    <div class="col-sm-6 offset-sm-3 text-center">

                        <a href="Identity/Account/Register">Register</a>
                        <a href="Identity/Account/Login">Login</a>

                        <br>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>