@*
    Harrison1 COSC 470 2019

    File = SlidingNav.razor

    Author = TaylorAdam

    Date = 2019-11-19

    License = MIT

    Modification History

    Version		Author			Date				Desc
    v 1.0		Taylor Adam		2019-11-19			Added Headers
    v 1.1       Nelson Murray   2019-11-30          Adjusted nav
    v 1.2       Taylor          2019-11-30          Added Logout Button, Removed Forms
    -->
*@

@using Microsoft.AspNetCore.Identity
<!--inject SignInManager<IdentityUser> SignInManager-->

<div id="mySidenav" class="sidenav">

    <NavLink onclick="closeNav()" href="/" Match="NavLinkMatch.All">
        <span class="oi oi-home pr-2" aria-hidden="true"></span> Appointments
    </NavLink>

    <NavLink onclick="closeNav()" href="CreateAppointment">
        <span class="oi oi-plus pr-2" aria-hidden="true"></span> Create Appointment
    </NavLink>

    <NavLink onclick="closeNav()" href="ManageForms">
        <span class="oi oi-spreadsheet pr-2" aria-hidden="true"></span> Manage Forms
    </NavLink>

    <NavLink onclick="closeNav()" href="ManageFormFields">
        <span class="oi oi-list pr-2" aria-hidden="true"></span> Manage Form Fields
    </NavLink>
    <NavLink onclick="closeNav()" href="StartRegistration">
        <span class="oi oi-list pr-2" aria-hidden="true"></span> Register Fingerprint
    </NavLink>
</div>

@code {

}