<div id="mySidenav" class="sidenav">
    <div class=" logo top-row navbar navbar-dark">
        <a class="navbar-brand" href=""><img src="img/harris-small.png" width="30" height="30" alt="" class="small">Harris Healthcare</a>
    </div>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <NavLink href="/" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Appointments
    </NavLink>

    <NavLink href="forms">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Forms
    </NavLink>

    <NavLink href="appointment">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Create Appointments
    </NavLink>

    <span class="nav-item px-4 text-white">
        Admin
    </span>

    <NavLink href="formbuilder">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Form Builder
    </NavLink>

    <NavLink href="formfields">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Form Fields
    </NavLink>
</div>

@code {

}