@*
    Harrison1 COSC 470 2019

    File = FormsComponent.razor

    Author = TaylorAdam

    Date = 2019-11-19

    License = MIT

    Modification History

    Version		Author			Date				Desc
    v 1.0		Taylor Adam		2019-11-19			Added Headers
    v 1.1       Nelson Murray   2019-11-30          Adjusted nav
    -->
*@

<div id="mySidenav" class="sidenav">

    <NavLink onclick="closeNav()" href="/" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Appointments
    </NavLink>

    <NavLink onclick="closeNav()" href="forms">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Forms
    </NavLink>

    <NavLink onclick="closeNav()" href="appointment">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Create Appointments
    </NavLink>

    <span class=" heading nav-item px-4 text-white">
        Admin
    </span>

    <NavLink onclick="closeNav()" href="formbuilder">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Form Builder
    </NavLink>

    <NavLink onclick="closeNav()" href="formfields">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Form Fields
    </NavLink>
</div>

@code {

}