@*

   Harrison1 COSC 471 2019

   File = ConfirmEmailChange.cshtml

   Author = Nelson Murray

   Date = 2020-01-10

   License = MIT

               Modification History

   Version		Author			Date				Desc
   v 1.0		Nelson Murray		2020-01-10			Created

*@
@page
@model ConfirmEmailChangeModel
@{
   ViewData["Title"] = "Confirm email change";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />