@*

   Harrison1 COSC 471 2019

   File = ForgotPasswordConfirmation.cshtml

   Author = Nelson Murray

   Date = 2020-01-10

   License = MIT

               Modification History

   Version		Author			Date				Desc
   v 1.0		Nelson Murray		2020-01-10			Created

*@
@page
@model ForgotPasswordConfirmation
@{
   ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
   Please check your email to reset your password.
</p>

