@*

   Harrison1 COSC 471 2019

   File = Lockout.cshtml

   Author = Nelson Murray

   Date = 2020-01-10

   License = MIT

               Modification History

   Version		Author			Date				Desc
   v 1.0		Nelson Murray		2020-01-10			Created

*@
@page
@model LockoutModel
@{
   ViewData["Title"] = "Locked out";
}

<header>
   <h1 class="text-danger">@ViewData["Title"]</h1>
   <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
